body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 0 24px;
}

a{
    text-decoration: none;
    color: #f9faf8;
}

